<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
    <section name="cacheManager.Redis" type="CacheManager.Redis.RedisConfigurationSection, CacheManager.StackExchange.Redis" />
  </configSections>
  <appSettings>
    <add key="xunit.methodDisplay" value="method" />
    <add key="xunit.preEnumerateTheories" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="redisFromConnectionStrings" connectionString="127.0.0.1:6379,allowAdmin=True,connectTimeout=11,ssl=False,abortConnect=False,connectRetry=10" />
    <add name="redisFromConnectionStringsWithDefaultDb" connectionString="127.0.0.1:6379,allowAdmin=True,connectTimeout=11,ssl=False,abortConnect=False,connectRetry=10,defaultDatabase=0" />
  </connectionStrings>
  <cacheManager.Redis xmlns="http://cachemanager.michaco.net/schemas/RedisCfg.xsd">
    <connections>
      <connection id="redisAppConfig" allowAdmin="true" password="" ssl="false" sslHost="" connectionTimeout="11" database="0">
        <endpoints>
          <endpoint host="127.0.0.1" port="6379" />
        </endpoints>
      </connection>
    </connections>
  </cacheManager.Redis>
  <cacheManager xmlns="http://cachemanager.michaco.net/schemas/CacheManagerCfg.xsd">
    <managers>
      <cache name="c1" updateMode="Up">
        <handle name="h1" ref="memGeneric" expirationMode="None" timeout="50s" />
        <handle name="h2" ref="memObjectDefined" expirationMode="Absolute" timeout="20m" />
        <handle name="h3" ref="memGeneric" />
      </cache>
      <cache name="redisWithBackplaneAppConfig" 
             enableStatistics="false" 
             backplaneName="redisAppConfig"
             backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis"
             serializerType="CacheManager.Serialization.Json.JsonCacheSerializer, CacheManager.Serialization.Json">
        <handle name="default" ref="memGeneric" />
        <handle name="redisAppConfig" ref="redisHandle" expirationMode="None" isBackplaneSource="true" />
      </cache>
      <cache name="redisWithBackplaneAppConfigConnectionStrings" 
             enableStatistics="false" 
             backplaneName="redisFromConnectionStrings" 
             backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis"             
             serializerType="CacheManager.Serialization.Json.JsonCacheSerializer, CacheManager.Serialization.Json">
        <handle name="default" ref="memGeneric" />
        <handle name="redisFromConnectionStrings" ref="redisHandle" expirationMode="None" isBackplaneSource="true" />
      </cache>
      <cache name="redisWithBackplaneAppConfigConnectionStringsWithDefaultDb" 
             enableStatistics="false" 
             backplaneName="redisFromConnectionStrings" 
             backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis"             
             serializerType="CacheManager.Serialization.Json.JsonCacheSerializer, CacheManager.Serialization.Json">
        <handle name="default" ref="memGeneric" />
        <handle name="redisFromConnectionStringsWithDefaultDb" ref="redisHandle" expirationMode="None" isBackplaneSource="true" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="memGeneric" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="20h" />
      <handleDef id="memObjectDefined" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="20h" />
      <handleDef id="redisHandle" type="CacheManager.Redis.RedisCacheHandle`1, CacheManager.StackExchange.Redis" defaultExpirationMode="Absolute" defaultTimeout="5m" />
    </cacheHandles>
  </cacheManager>

  <!-- runtime memcache defaults for this test project (do not change, might break some tests) -->
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" cacheMemoryLimitMegabytes="42" physicalMemoryLimitPercentage="69" pollingInterval="00:10:00" />
        <add name="NamedTest" cacheMemoryLimitMegabytes="12" physicalMemoryLimitPercentage="23" pollingInterval="00:02:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
