<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc2-15991" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0-rc2-16037" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc2-16037" targetFramework="net451" />
  <package id="StyleCop.Analyzers" version="1.0.0-rc3" targetFramework="net451" developmentDependency="true" />
</packages>