version: 0.9.4-beta-{build}
os: Visual Studio 2015
clone_depth: 10
clone_folder: C:\projects\CacheManager\
install:
- cmd: C:\projects\CacheManager\tools\redis\install-service.cmd
build_script:
- cmd: >-
    SET DNX_BUILD_VERSION=beta-%APPVEYOR_BUILD_NUMBER%

    C:\projects\CacheManager\build.cmd --quiet verify
test: off
artifacts:
- path: artifacts\build\*.nupkg
  name: nugets
deploy: off