<?xml version="1.0" encoding="UTF-8"?>
<TestSettings
  id="f2c5a4fe-b54a-434e-a0fa-5ecc671bb185"
  name="local"
  enableDefaultDataCollectors="false"
  xmlns="http://microsoft.com/schemas/VisualStudio/TeamTest/2010">
  <Description><!--_locID_text="Description1"-->These are default test settings for a local test run.</Description>
  <Deployment enabled="false" />
</TestSettings>
