<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <clear />
  <!--<add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2" />-->
  <add key="nuget.org" value="https://www.nuget.org/api/v2" />
  <add key="AspNetCoreCiDev" value="https://www.myget.org/F/aspnetcidev/api/v2" />
  <add key="AspNetVNext" value="https://www.myget.org/f/aspnetmaster/api/v3/index.json" />
</configuration>