<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add key="AspNetCore.CIDev" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
  <add key="nuget.org" value="https://www.nuget.org/api/v2" />
  <add key="nuget.org.v3" value="https://api.nuget.org/v3/index.json" />
</configuration>