@{
    ViewBag.Title = "Home Page";
}
@model CacheManager.Samples.Mvc.Controllers.CounterModel
<div class="jumbotron">
    <h1>ASP.NET MVC Caching sample</h1>

</div>

<div class="row">
    <div class="col-xs-4">
        <div class="col-xs-10">
            Adds to the cache from PageCache
        </div>
        <div class="col-xs-2">
            <span class="badge">@Model.Adds</span>
        </div>
        <div class="col-xs-10">
            Index clicks
        </div>
        <div class="col-xs-2">
            <span class="badge">@Model.IndexClicks</span>
        </div>
        <div class="col-xs-10">
            Contact clicks
        </div>
        <div class="col-xs-2">
            <span class="badge">@Model.ContactClicks</span>
        </div>
        <div class="col-xs-10">
            About clicks
        </div>
        <div class="col-xs-2">
            <span class="badge">@Model.AboutClicks</span>
        </div>
    </div>
</div>