<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
    <section name="cacheManager.Redis" type="CacheManager.Redis.RedisConfigurationSection, CacheManager.StackExchange.Redis" />
    <!--<section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />-->
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <sectionGroup name="couchbaseClients">
      <section name="couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="xunit.methodDisplay" value="method" />
    <add key="xunit.preEnumerateTheories" value="false" />
    <add key="xunit.parallelizeAssembly" value="false" />
    <add key="xunit.parallelizeTestCollections" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="redisFromConnectionStrings" connectionString="127.0.0.1:6379,allowAdmin=True,connectTimeout=11,ssl=False,abortConnect=False,connectRetry=10" />
  </connectionStrings>
  <cacheManager.Redis xmlns="http://tempuri.org/RedisCfg.xsd">
    <connections>
      <connection id="redisAppConfig" allowAdmin="true" password="" ssl="false" sslHost="" connectionTimeout="11" database="3">
        <endpoints>
          <endpoint host="127.0.0.1" port="6379" />
        </endpoints>
      </connection>
    </connections>
  </cacheManager.Redis>
  <cacheManager xmlns="http://tempuri.org/CacheManagerCfg.xsd">
    <managers>
      <cache name="c1" updateMode="Up">
        <handle name="h1" ref="memGeneric" expirationMode="None" timeout="50s" />
        <handle name="h2" ref="memObjectDefined" expirationMode="Absolute" timeout="20m" />
        <handle name="h3" ref="memGeneric" />
      </cache>
      <cache name="redisWithBackplaneAppConfig" enableStatistics="false" backplaneName="redisAppConfig" backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis">
        <handle name="default" ref="memGeneric" />
        <handle name="redisAppConfig" ref="redisHandle" expirationMode="None" isBackplaneSource="true" />
      </cache>
      <cache name="redisWithBackplaneAppConfigConnectionStrings" enableStatistics="false" backplaneName="redisFromConnectionStrings" backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis">
        <handle name="default" ref="memGeneric" />
        <handle name="redisFromConnectionStrings" ref="redisHandle" expirationMode="None" isBackplaneSource="true" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="memGeneric" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="20h" />
      <handleDef id="memObjectDefined" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="20h" />
      <handleDef id="redisHandle" type="CacheManager.Redis.RedisCacheHandle`1, CacheManager.StackExchange.Redis" defaultExpirationMode="Absolute" defaultTimeout="5m" />
    </cacheHandles>
  </cacheManager>
  <couchbaseClients>
    <couchbase useSsl="false">
      <servers>
        <add uri="http://127.0.0.1:8091/pools"></add>
      </servers>
      <buckets>
        <add name="default" useSsl="false" password="">
          <connectionPool name="custom" maxSize="10" minSize="5"></connectionPool>
        </add>
      </buckets>
    </couchbase>
  </couchbaseClients>
  <enyim.com>
    <memcached>
      <servers>
        <add address="127.0.0.1" port="11211" />
        <!--<add address="127.0.0.1" port="11212" />
        <add address="127.0.0.1" port="11213" />
        <add address="127.0.0.1" port="11214" />-->
      </servers>
    </memcached>
  </enyim.com>

  <!-- runtime memcache defaults for this test project (do not change, might break some tests) -->
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" cacheMemoryLimitMegabytes="42" physicalMemoryLimitPercentage="69" pollingInterval="00:10:00" />
        <add name="NamedTest" cacheMemoryLimitMegabytes="12" physicalMemoryLimitPercentage="23" pollingInterval="00:02:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.extensions" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1510.2205" newVersion="4.2.1510.2205" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.30.5.0" newVersion="3.30.5.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13..0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>