<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
    <sectionGroup name="enyim.com">
      <section name="local-memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
      <section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />
    </sectionGroup>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <cacheManager xmlns="http://tempuri.org/CacheManagerCfg.xsd">
    <managers>
      <cache name="default" updateMode="Up" enablePerformanceCounters="true">
        <!--<handle name="h1" ref="memGeneric" expirationMode="Sliding" timeout="1s" />-->
        <handle name="memcache" ref="memgenericobjectsliding" expirationMode="Absolute" timeout="1s" />
        <!--<handle name="dictcache" ref="dicgeneric" expirationMode="Sliding" timeout="20s" />-->
        <!--<handle name="default" ref="azureDefault" />-->
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="memGeneric" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="1s" />
      <handleDef id="memGenericSliding" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="5m" />
      <handleDef id="memGenericObjectSliding" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1[[System.Object]], CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="5m" />
      <handleDef id="memSliding" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle, CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="5m" />
      <handleDef id="dicGeneric" type="CacheManager.Core.Cache.DictionaryCacheHandle`1, CacheManager.Core" defaultExpirationMode="Sliding" defaultTimeout="2s" />
      <handleDef id="dicSliding" type="CacheManager.Core.Cache.DictionaryCacheHandle, CacheManager.Core" defaultExpirationMode="Sliding" defaultTimeout="5m" />
      <handleDef id="dicAbsolute" type="CacheManager.Core.Cache.DictionaryCacheHandle, CacheManager.Core" defaultExpirationMode="Absolute" defaultTimeout="10m" />
      <handleDef id="dicNone" type="CacheManager.Core.Cache.DictionaryCacheHandle, CacheManager.Core" defaultExpirationMode="None" />
      <handleDef id="noDefaults" type="CacheManager.Core.Cache.DictionaryCacheHandle, CacheManager.Core" defaultExpirationMode="None" />
      <handleDef id="azureDefault" type="CacheManager.WindowsAzureCaching.AzureDataCacheHandle`1, CacheManager.WindowsAzureCaching" defaultExpirationMode="Absolute" defaultTimeout="2m" />
      <handleDef id="memcached" type="CacheManager.Memcached.MemcachedCacheHandle`1, CacheManager.Memcached" />
      <handleDef id="redis" type="CacheManager.StackExchange.Redis.RedisCacheHandle`1, CacheManager.StackExchange.Redis" defaultExpirationMode="Absolute" defaultTimeout="5m" />
    </cacheHandles>
  </cacheManager>

  <!-- in memory sys cache config for named and default caches -->
  <!--<system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="50" pollingInterval="00:00:02" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>-->


  <!-- couchbase cache config (we will use the Enyim memcached client, just setup your bucket. Doesn't matter which type) -->
  <!--<couchbase-default>
    <servers bucket="default" bucketPassword="">
      <add uri="http://192.168.178.38:8091/pools/" />
    </servers>
  </couchbase-default>-->

  <!-- we just need the logger wrapper, the client will be constructed by the couchbase override -->
  <enyim.com>
    <local-memcached>
      <servers>
        <add address="127.0.0.1" port="11211" />
        <add address="127.0.0.1" port="11212" />
        <add address="127.0.0.1" port="11213" />
        <add address="127.0.0.1" port="11214" />
      </servers>
    </local-memcached>
    <log factory="Enyim.Caching.NLogFactory, Enyim.Caching.NLogAdapter" />
  </enyim.com>
  <dataCacheClients>
    <tracing sinkType="DiagnosticSink" traceLevel="Error" />
    <dataCacheClient name="default">
      <!--<hosts>
        <host name="localhost" cachePort="24233"/>
      </hosts>-->
      <!--To use the in-role flavor of Windows Azure Cache, set identifier to be the cache cluster role name -->
      <!--To use the Windows Azure Cache Service, set identifier to be the endpoint of the cache cluster -->
      <autoDiscover isEnabled="true" identifier="AzureCacheWorker" />

      <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />-->

      <!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. -->
      <!--<securityProperties mode="Message" sslEnabled="true">
        <messageSecurity authorizationInfo="[Authentication Key]" />
      </securityProperties>-->
    </dataCacheClient>
  </dataCacheClients>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xunit.extensions" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>