<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <!--layout="${longdate} ${level} ${message}"-->
    <target name="file" xsi:type="File" fileName="${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}.log"
            layout="${date:format=s}|${level}|${callsite}|${message}|${exception:format=ToString,StackTrace}${newline}"/>
    <target name="console" xsi:type="ColoredConsole" 
            layout="${date:format=s}|${level}|${callsite}|${message}|${exception:format=ToString,StackTrace}${newline}"/>
    <target xsi:type="Debugger" name="debug"
            layout="${date:format=s}|${level}|${callsite}|${message}|${exception:format=ToString,StackTrace}${newline}"/>
    <target xsi:type="Trace" name="trace"
            layout="${date:format=s}|${level}|${callsite}|${message}|${exception:format=ToString,StackTrace}${newline}"/>
  </targets>

  <!-- log message to event log -->
  <!--<target xsi:type="EventLog" name="eventLog" source="NLog Demo"
            layout="${message}${newline}Call site: ${callsite:className=true:methodName=true}${newline}Logger: ${logger}">
    </target>-->

  <!-- increase the performance counter -->

  <!--</targets>-->

  <!--<rules>
    <logger name="*" minlevel="Trace" writeTo="logfile, console" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>-->

  <rules>
    <logger name="*" minlevel="Warn" writeTo="trace" />
    <logger name="*" minlevel="Warn" writeTo="Console" />
  </rules>
</nlog>