<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnyimMemcached" version="2.13" targetFramework="net45" />
  <package id="EnyimMemcached-NLog" version="2.12" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Caching" version="2.5.1.0" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
</packages>