<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
  </configSections>

  <cacheManager xmlns="http://cachemanager.michaco.net/schemas/CacheManagerCfg.xsd">
    <managers>
      <cache name="c1" updateMode="Up">
        <handle name="h1" ref="memGeneric" expirationMode="Sliding" timeout="50s" />
        <handle name="h2" ref="memObjectDefined" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef  id="memGeneric" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching"
                  defaultExpirationMode="Sliding" defaultTimeout="20h" />
      <handleDef  id="memObjectDefined" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1[[System.Object]], CacheManager.SystemRuntimeCaching"
                  defaultExpirationMode="Sliding" defaultTimeout="20m" />
    </cacheHandles>
  </cacheManager>
</configuration>
