<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
    <section name="cacheManager.Redis" type="CacheManager.Redis.RedisConfigurationSection, CacheManager.StackExchange.Redis" />
  </configSections>
  <cacheManager.Redis xmlns="http://cachemanager.michaco.net/schemas/RedisCfg.xsd">
    <connections>
      <connection id="redisFromCfgConfigurationId"
                       allowAdmin="true"
                       enableKeyspaceNotifications="true"
                       password=""
                       ssl="false"
                       sslHost=""
                       connectionTimeout="1200"
                       database="113"
                       strictCompatibilityModeVersion="2.7"
                       twemproxyEnabled="true">
        <endpoints>
          <endpoint host="127.0.0.1" port="6379" />
        </endpoints>
      </connection>
      <connection id="redisConnectionString" database="131" strictCompatibilityModeVersion="2.9" connectionString="127.0.0.1:6379,allowAdmin=true,ssl=false" />
      <connection id="redisConnectionStringWithDefaultDb" strictCompatibilityModeVersion="2.9" connectionString="127.0.0.1:6379,allowAdmin=true,ssl=false,defaultDatabase=42" />
    </connections>
  </cacheManager.Redis>
  <cacheManager xmlns="http://cachemanager.michaco.net/schemas/CacheManagerCfg.xsd">
    <managers>
      <cache name="ExpirationVariances" updateMode="Up" enableStatistics="true" enablePerformanceCounters="true">
        <!-- testing
            h1 overriding exp settings,
            h2 uses defaults
            h3 has no defaults an no explicit settings
            h4 has no defaults but overrides
          -->
        <handle name="h1" ref="memSliding" expirationMode="None" timeout="50s" />
        <handle name="h2" ref="memSliding" />
        <handle name="h3" ref="noDefaults" />
        <!-- also testing timeout=20 without suffix, this should translate into 20minutes -->
        <handle name="h4" ref="noDefaults" expirationMode="Absolute" timeout="20" />
      </cache>
      <cache name="DefaultSysMemCache" updateMode="None">
        <!-- should use the defaults from <memoryCache><namedCaches> defined below -->
        <handle name="default" ref="memGenericSliding" />
      </cache>
      <cache name="c3" updateMode="None" enableStatistics="false">
        <handle name="h1" ref="dicGeneric" expirationMode="Sliding" timeout="50s" />
        <handle name="h2" ref="dicAbsolute" expirationMode="Sliding" timeout="20m" />
      </cache>
      <cache name="redisConfigFromConfig" enableStatistics="false"
             backplaneName="redisFromCfgConfigurationId"
             backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis"
             serializerType="CacheManager.Serialization.Json.JsonCacheSerializer, CacheManager.Serialization.Json">
        <handle name="redisFromCfgConfigurationId" ref="redisSliding" expirationMode="None" isBackplaneSource="true" />
      </cache>
      <cache name="redisConfigFromConnectionString" enableStatistics="false" backplaneName="redisConnectionString" backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis">
        <handle name="redisConnectionString" ref="redisSliding" expirationMode="None" isBackplaneSource="true" />
      </cache>
      <cache name="onlyDefaultsCache">
        <handle name="defaultsHandle" ref="dicDefaults" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef  id="redisSliding" type="CacheManager.Redis.RedisCacheHandle`1, CacheManager.StackExchange.Redis"
           defaultExpirationMode="Sliding" defaultTimeout="5m" />
      <handleDef  id="memGenericSliding" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching"
          defaultExpirationMode="Sliding" defaultTimeout="5m" />
      <handleDef  id="memGenericObjectSliding" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching"
          defaultExpirationMode="Sliding" defaultTimeout="5m" />
      <handleDef  id="memSliding" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching"
          defaultExpirationMode="Sliding" defaultTimeout="5m" />
      <handleDef  id="dicGeneric" type="CacheManager.Core.Internal.DictionaryCacheHandle`1, CacheManager.Core"
          defaultExpirationMode="Sliding" defaultTimeout="5m" />
      <handleDef  id="dicSliding" type="CacheManager.Core.Internal.DictionaryCacheHandle`1, CacheManager.Core"
          defaultExpirationMode="Sliding" defaultTimeout="5m" />
      <handleDef  id="dicAbsolute" type="CacheManager.Core.Internal.DictionaryCacheHandle`1, CacheManager.Core"
          defaultExpirationMode="Absolute" defaultTimeout="10m" />
      <handleDef  id="noDefaults" type="CacheManager.Core.Internal.DictionaryCacheHandle`1, CacheManager.Core"
          defaultExpirationMode="None" />
      <handleDef  id="dicDefaults" type="CacheManager.Core.Internal.DictionaryCacheHandle`1, CacheManager.Core" />
    </cacheHandles>
  </cacheManager>
</configuration>