<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
  </configSections>

  <cacheManager xmlns="http://cachemanager.michaco.net/schemas/CacheManagerCfg.xsd">
    <managers>
      <cache name="c1" backplaneType="System.String">
        <handle name="h1" ref="memGeneric" />
      </cache>
      <cache name="invalidType" backplaneType="System.String" backplaneName="back">
        <handle name="h1" ref="memGeneric" isBackplaneSource="true" />
      </cache>
      <cache name="typeNotFound" backplaneType="ThisIsNoRealType" backplaneName="back">
        <handle name="h1" ref="memGeneric" isBackplaneSource="true" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef  id="memGeneric" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" />
    </cacheHandles>
  </cacheManager>
</configuration>