<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
    <section name="cacheManager2" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
    <section name="cacheManager3" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
    <section name="cacheManager4" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
  </configSections>

  <!-- invalid (non existing) type -->
  <cacheManager xmlns="http://cachemanager.michaco.net/schemas/CacheManagerCfg.xsd">
    <managers>
      <cache name="configName">
        <handle name="handle1" ref="h1" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="h1" type="MyType.SometypeWichDoesNotExist" />
    </cacheHandles>
  </cacheManager>

  <!-- number of generic arguments invalid (expecting only one) -->
  <cacheManager2 xmlns="http://cachemanager.michaco.net/schemas/CacheManagerCfg.xsd">
    <managers>
      <cache name="configName">
        <handle name="handle1" ref="h1" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="h1" type="CacheManager.Core.Internal.DictionaryCacheHandle`1[[System.Object]], CacheManager.Core" />
    </cacheHandles>
  </cacheManager2>

  <!-- handle type is not of type BaseCacheHandle -->
  <cacheManager4 xmlns="http://cachemanager.michaco.net/schemas/CacheManagerCfg.xsd">
    <managers>
      <cache name="configName">
        <handle name="handle1" ref="h1" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="h1" type="System.Collections.Generic.List`1[[System.Object]]" />
    </cacheHandles>
  </cacheManager4>
</configuration>