<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
  </configSections>

  <cacheManager xmlns="http://cachemanager.net/schemas/CacheManagerCfg.xsd">
    <managers>
      <cache name="configName">
        <handle name="handle1" ref="h1" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="h1" />
    </cacheHandles>
  </cacheManager>
</configuration>