<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CacheManager.ruleset" Description="Contains all rules we are using in CacheManager assemblies." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>