<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="0.6.0.0" targetFramework="net45" userInstalled="true" />
  <package id="CacheManager.StackExchange.Redis" version="0.6.0.0" targetFramework="net45" userInstalled="true" />
  <package id="CacheManager.SystemRuntimeCaching" version="0.6.0" targetFramework="net45" userInstalled="true" />
  <package id="StackExchange.Redis" version="1.0.450" targetFramework="net45" userInstalled="true" />
</packages>