<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CodeAnalysis.ruleset" Description="Contains all rules we are using." ToolsVersion="15.0">
  <IncludeAll Action="Hidden" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1600" Action="Warning" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1649" Action="None" />
  </Rules>
</RuleSet>