<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core"/>
  </configSections>

  <cacheManager xmlns="http://tempuri.org/CacheManagerCfg.xsd">
    <managers>
    </managers>
    <cacheHandles>
      <handleDef />
    </cacheHandles>
  </cacheManager>
</configuration>